@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
}

/* botstrab */

.bg-warning {
    display: none;
}

.btn.show {
    border: none !important;
}

.btn:hover {
    border: none !important;
}

a {
    text-decoration: none !important;
}

.dropdown-menu.show {
    inset: 0px auto auto -270px !important;
    margin: 0px !important;
    padding: 0 10px 10px;
    transform: translate3d(25%, 65px, 0px) !important;
}

.spinner-wrapper {
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 65464;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    opacity: 1;
}

.spinner-border {
    scale: 1.4 !important;

}

/* botstrab */

:root {
    --main-color: #fcb700;
    --dark-color: #222222;
    --parg-color: #666666;
    --dark-red: #d01418;
    --border-color: #6666662a;
    --name-item: #0066c0;
    --bg-body: #F5F5F5;
    --bg-heder: #fff;
    --green-color: #029c4c;
    --box-shado: 0px 0px 47px 6px rgba(0, 0, 0, 0.1);
    --box-shado-prodact: 0px 0px 17px 0px rgba(0, 0, 0, 0.1);
    --drob-shado: 0 1px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, -67.81);
    --bg-sc: #4d5669;
    --footer-bg: #394150;
    --footer-p-color: #b1b1b1;
    --footer-botton-color: #202935;
    --bs-warning-rgb: #7fffd400 !important;
    --bs-dropdown-min-width: 25rem !important;
    --bs-btn-padding-y: 0rem !important;
    --color-icons-detals-item: #efeeee;

}

body {
    background-color: var(--bg-body) !important;
    margin-top: 200px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-color);
}

p {
    color: var(--parg-color);
}

.contener {
    width: 85%;
    margin: auto;
    /* margin-inline: auto; */
    /* margin-block: auto; */
}

@media(max-width:1500px) {

    .contener {
        width: 90%;
    }

}

/* start scrollbar  */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #fcb70094;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color);
}

/* end scrollbar  */

/* start header  */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-heder);
    z-index: 1000;
    box-shadow: var(--drob-shado);
}

header .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header .top-nav .logo img {
    width: 150px;
}

header .top-nav .search {
    width: 500px;
    border: 2px solid var(--main-color);
    position: relative;
    border-radius: 5px;
    height: 45px;
    display: flex;
}

header .top-nav .search input {
    padding: 8px 83px 8px 8px !important;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 5px;
}

header .top-nav .search button {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    width: 170px;
    height: 100%;
    background-color: var(--main-color);
    font-size: 18px;
    color: var(--dark-color);
    cursor: pointer;
}

header .top-nav .cart_header {
    display: flex;
    gap: 10px;
    align-items: center;
}

header .top-nav .cart_header i {
    color: var(--dark-color);
    font-size: 23px;
    border: 1px solid var(--border-color);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

header .top-nav .cart_header i:hover {
    background-color: var(--main-color);
    color: var(--bg-heder);
}

header .top-nav .cart_header .icon_cart {
    position: relative;
}

header .top-nav .cart_header .count_item {
    position: absolute;
    background-color: var(--main-color);
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    border-radius: 50%;
    text-align: center;
    top: -5px;
    right: 0px;
    color: var(--dark-color);
    border: 1px solid var(--border-color);
}

header .top-nav .cart_header .tottal_price p {
    margin-bottom: 8px;
}


header nav {
    border-top: 1px solid var(--border-color);
}

header nav .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .links ul {
    display: flex;
    gap: 70px;
    margin-bottom: 0;
}


header nav .links ul li a {
    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

header nav .links ul li {
    position: relative;
    padding: 20px 0;
}

header nav .links ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
}

header nav .links ul li.active::after,
header nav .links ul li:hover::after {
    width: 100%;
}

header .links .login_signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

header .links .login_signup a {
    color: var(--dark-color);
    padding: 10px 20px;
    background-color: var(--main-color);
    border-radius: 5px;
}

/* end hedaer */
/* start cart  */
.cart {
    position: fixed;
    top: 0;
    right: -105%;
    bottom: 0;
    background-color: var(--bg-heder);
    z-index: 1100;
    padding: 30px;
    border-left: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    transition: 0.4s ease;
    box-shadow: var(--box-shado);
}

.cart.active {

    right: 0;
}

.cart .top_cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart .top_cart .close_cart i {
    font-size: 25px;
    color: var(--dark-color);
    cursor: pointer;
    transition: 0.3s ease;
}

.cart .top_cart .close_cart i:hover {
    scale: 1.2;
    color: var(--dark-red);
}

.cart .top_cart h3 {
    font-size: 18px;
}

.cart .top_cart h3 span {
    font-size: 14px;
    color: var(--parg-color);
    font-weight: normal;
}

.cart .items_in_cart {
    padding: 20px 0;
    border-block: 1px solid var(--border-color);
    margin-block: 20px;
    height: 100%;
    margin-bottom: 25px;
    overflow: scroll;
}



.cart .item_cart {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 99%;
    border-bottom: 1px solid var(--main-color);
    padding: 5px 0;
}

.cart .item_cart:last-child {
    margin-bottom: 0;
}

.cart .items_in_cart img {
    width: 30%;
}

.cart .items_in_cart h4 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
}

.cart .items_in_cart .delete_item {
    border: none;
    outline: none;
    background: transparent;
}

.cart .items_in_cart .delete_item i {
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cart .items_in_cart .delete_item i:hover {
    color: var(--dark-red);
    scale: 1.3;
}





.cart .bottom_cart .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cart .bottom_cart .total .price_cart_total {
    color: var(--green-color);
    font-weight: 600;
}

.cart .button-cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart .button-cart .btn_cart {
    border: 2px solid var(--main-color);
    border-radius: 5px;
    color: var(--dark-color);
    padding: 15px 0;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    background: var(--main-color);
    transition: 0.3s ease;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cart .button-cart .btn_cart:hover {
    background: transparent;
}

.cart .button-cart .trans_bg {
    background: transparent;
}

.cart .button-cart .trans_bg:hover {
    background: var(--main-color);
}

/* end cart  */
/* start side bar  */
.slider .contener {
    display: flex;
    justify-content: space-between;

}

.slider .contener .side_bar {
    width: 300px;
    background-color: var(--bg-heder);
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shado);
    border-radius: 10px;
}

.slider .contener .side_bar h2 {
    padding: 20px 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 18px;
}

.slider .contener .side_bar a {
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color);
    border-top: 1px solid var(--border-color);
    transition: 0.3s ease-in-out;
}

.slider .contener .side_bar a:hover {
    color: var(--main-color);
    margin-left: 15px;
}


.slider .contener .slide-swp {
    width: calc(100% - 350px);
    overflow: hidden;
    position: relative;
    box-shadow: var(--box-shado);
    border-radius: 10px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    width: 9% !important;
    background: var(--bg-heder);
    border-radius: 50px;
    margin: 0px 45.5%;
}

@media (max-width:1000px) {

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        width: 10% !important;
        margin: 0px 45%;
    }
}

@media (max-width:500px) {

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        width: 20% !important;
        margin: 0px 40%;
    }
}

.slider .contener .slide-swp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
    border-radius: 10px;
}

.slider .contener .slide-swp .swiper-pagination span {
    background: var(--dark-color);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--main-color) !important;
    width: 35px !important;
    height: 8px !important;
    border-radius: 30px !important;
}

/* end slider  */
/* start futsher  */

.featutures {
    margin: 50px 0;

}

.featutures .contener {
    background: var(--bg-heder);
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shado);
}

.featutures .contener .feature_item {
    width: 18%;
    min-width: 220px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.featutures .contener .feature_item img {
    width: 50px;
}

.featutures .contener .feature_item h4 {
    margin-bottom: 8px;
    font-size: 15px;
}

.featutures .contener .feature_item p {
    font-size: 12px;
}

/* end futsher  */


/* start banner  */
.banner {
    margin: 50px 0;

}

.banner .contener {
    display: flex;
    justify-content: space-between;

}

.banner .contener .banner_img {
    width: 32%;
    position: relative;
}

.banner .contener .banner_img img {
    width: 100%;
    box-shadow: var(--box-shado);
    border-radius: 10px;
}

.banner .glass_hover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.banner .glass_hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(50deg, transparent 50%,
            rgba(255, 255, 255, 0.1)60%, rgba(255, 255, 255, 0.5) 70%,
            transparent 71%);
    background-size: 200% 100%;
    z-index: 5;
    transition: 0.9s;
}

.banner .banner_img:hover .glass_hover::after {
    background-position: -200% 0;
}

.banner .banner_img a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.banner.banner_beg .contener .banner_img {
    width: 49%;
    position: relative;
}

/* end baner  */
/* start slide  */

.slide {
    margin-bottom: 100px;
}

.top_slide {
    position: relative;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}

.top_slide::after {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 100px;
    height: 2px;
    background: var(--main-color);
}

.top_slide h2 {
    text-transform: capitalize;
}

.top_slide h2 span {
    font-weight: normal;
}

/* prdouct card style*/
.product {
    position: relative;
    background: var(--bg-heder);
    padding: 20PX 30PX;
    text-align: center;
    overflow: hidden;
    box-shadow: var(--box-shado-prodact);
    border: 1px solid var(--border-color);
    width: 25%;
    border-radius: 10px;
}

.product .sale_present {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    background-color: var(--dark-red);
    color: var(--bg-heder);
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 3px;
}


.product .img_product {
    position: relative;
}

.product .img_product img {
    width: 100%;
    transition: 0.4s ease-in-out;
}

.product .img_product .img_hover {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    scale: 0;
}

.product:hover .img_product img {
    opacity: 0;
}

.product:hover .img_product .img_hover {
    opacity: 1;
    scale: 1;
}

.product .name_product {
    font-size: 16px;
}

.product .name_product a {
    color: var(--dark-color);
}

.product .name_product a:hover {
    text-decoration: underline !important;
}

.stars i {
    color: var(--main-color);
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.price p {
    color: var(--main-color);
    font-weight: bold;
}

.price .old_price {
    color: var(--parg-color);
    text-decoration: line-through;
    font-size: 13px;
    font-weight: normal;
}

.product .icons_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: -80px;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease-in-out;
}

.product .icons_card i.active {
    background: var(--green-color);
    color: var(--bg-heder);
    cursor: auto;
    pointer-events: none;
    overflow: hidden;
}

.product .icons_card i {
    color: var(--dark-color);
    background: var(--bg-heder);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 18px;
}

.product .icons_card i:hover {
    background: var(--main-color);
    scale: 1.13;
}



.product:hover .icons_card {
    right: 10px;
}

@media (max-width:1000px) {

    .product .icons_card {
        display: block;
        gap: 10px;
        right: 10px;
        z-index: 3;
        top: 51%;
        transition: 0.3s ease-in-out;
        position: static;
        transform: none;
    }

    .product .icons_card i:hover {
        scale: 1 !important;

    }

    .product .icons_card i.active {
        overflow: visible;
    }
}

/* sliders  */
.slide .contener {

    position: relative;
}

.slide .contener .mySwiper {
    overflow: hidden;
    padding: 25px 25px;
}

.slide .contener .mySwiper .btn_Swip {
    position: absolute;
    top: 60px;
    right: 0;
    background: var(--main-color);
    color: var(--bg-heder);
    font-weight: bold;
    padding: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.slide .contener .mySwiper .btn_Swip::after {
    font-size: 20px;
}

.slide .contener .mySwiper .btn_Swip.swiper-button-prev {
    left: calc(100% - 90px);
}


/* starte slide_product*/

.slide_product .product_swip {
    width: calc(100% - 300px);
}


.slide_product .slide_with_img {
    display: flex;
    justify-content: space-between;
}


.slide_product .categ_img {
    padding: 10px 0;
    width: 280px;
}

.slide_product .categ_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.product_swip .btn_Swip {
    top: 40px !important;
}


/* end slide_product*/
/* start newsletter */

.newsletter {
    background-color: var(--bg-heder);
}

.newsletter .contener {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.newsletter .text {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.newsletter .text img {
    width: 100px;
}

.newsletter .text h4 {
    font-size: 28px;
    font-weight: 500;
}

.newsletter .text p {
    margin: 12px 0;
}

.newsletter .text h6 {
    font-size: 20px;
    font-weight: normal;
}


.newsletter .newsletter_form {
    width: 40%;
    border: 2px solid var(--main-color);
    position: relative;
}

.newsletter .newsletter_form input {
    padding: 20px 175px 20px 20px;
    outline: none;
    border: none;
    width: 100%;
}

.newsletter .newsletter_form button {
    background: var(--main-color);
    outline: none;
    border: none;
    width: 170px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
    font-size: 18px;
    color: var(--dark-color);
}

/* end newsletter */
/* start ptn back_to_top */
.back_to_top {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-sc);
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.back_to_top p {
    color: var(--bg-heder);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.back_to_top i {
    font-size: 30px;
    color: var(--main-color);
}

/* end ptn back_to_top */

/* start footer*/

footer {
    background: var(--footer-bg);
}

footer .contener {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

footer .contener .big_row {
    width: 30%;
}

footer .contener .big_row .hotline {
    display: flex;
    align-items: center;
    margin: 15px 0;
    gap: 10px;
}

footer .contener .big_row .hotline i {
    font-size: 60px;
    color: var(--main-color);
}

footer .contener .big_row .hotline h5 {
    color: var(--bg-heder);
    font-size: 18px;
    margin-bottom: 10px;
}

footer .contener .big_row .hotline h6 {
    color: var(--main-color);
    font-size: 18px;
}

footer .contener .big_row p {
    width: 90%;
    color: var(--footer-p-color);
    font-size: 14px;
    line-height: 1.5;
}

footer .contener .row {
    width: 22%;
}

footer .contener .row h4 {
    color: var(--bg-heder);
    font-size: 18px;
    margin-bottom: 20px;
}

footer .contener .row .links {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

footer .contener .row .links a {
    color: var(--footer-p-color);
    font-size: 14px;
    position: relative;
    left: 0;
    transition: 0.3s ease-in-out;
}

footer .contener .row .links a:hover {
    left: 8px;
    color: var(--main-color);
}

footer .bottom_footer {
    background: var(--footer-botton-color);
}

footer .bottom_footer .contener {
    padding: 20px 0;
    align-items: center;
}

footer .bottom_footer .contener span {
    color: var(--main-color);
}

footer .bottom_footer .payment_img {
    display: flex;
    gap: 10px;
}

footer .bottom_footer .payment_img img {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    filter: grayscale(100%);
}

footer .bottom_footer .payment_img img:hover {
    filter: grayscale(0);

}

/* end footer*/
header .links ul .pg_overlay,
header .links .btn_open_menue,
header .links ul .logo_menue,
header .links ul .btn_close_menue {
    display: none;
}



/* START responsev*/
/* START responsev taplet*/
@media (max-width:1000px) {
    header .top-nav .search {
        width: 420px;
    }

    .newsletter .contener {
        flex-direction: column;
        gap: 30px;
    }

    .newsletter .contener .text {
        width: 100%;
    }

    .newsletter .contener .newsletter_form {
        width: 100%;
    }

    .newsletter .text h6 {
        font-size: 18px;
    }

    .newsletter .text p {
        font-size: 14px;
    }

    .newsletter .text h4 {
        font-size: 25px;
    }

    footer .contener {
        flex-wrap: wrap;
    }

    footer .contener .row {
        width: 45%;
        margin-bottom: 20px;
    }

    footer .contener .big_row {
        width: 50%;
        margin-bottom: 20px;
    }
}


@media (max-width:900px) {
    body {
        margin-top: 260px !important;

    }

    header .top-nav {
        flex-wrap: wrap;
    }

    header .top-nav .search {
        order: 3;
        width: 80%;
        margin: 10px auto 0;
    }

    header .links {
        padding: 20px 0;
    }

    header .links ul {
        position: fixed;
        top: 0;
        left: -420px;
        bottom: 0;
        background: var(--bg-heder);
        flex-direction: column;
        gap: 20px !important;
        width: 400px;
        border-right: 1px solid var(--border-color);
        text-align: center;
        padding-top: 50px;
        padding-left: 0;
        transition: 0.5s ease-in-out;
    }

    header nav .links ul.active {
        left: 0;
    }

    header .links ul .logo_menue {
        width: 150px;
        margin: 0 auto;
        display: block;
    }

    header .links ul .btn_close_menue {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 35px;
        color: var(--main-color);
    }

    header .links ul .btn_close_menue:hover {
        scale: 1.1;
        color: var(--dark-red);
    }

    header .links .btn_open_menue {
        display: block;
        font-size: 30px;
    }

    header .links ul .pg_overlay {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        transition: 0.5s ease-in-out;
        background: #00000045;
        width: calc(100vw - 400px);
        height: 100%;
    }

    header nav .links ul.active .pg_overlay {
        right: 0;
    }

    .slider .contener .side_bar {
        display: none;
    }

    .slider .contener .slide-swp {
        width: 100%;
    }

    .featutures .contener .feature_item {
        margin-bottom: 15px;
    }

    header nav .links ul {
        align-items: flex-start;
        padding-left: 30px;
    }

    .banner {
        margin: 30px 0;
    }

    .back_to_top {
        padding: 10px 0;
    }

}

@media (max-width:700px) {}

@media (max-width:500px) {
        .dropdown-menu.show {
        transform: translate3d(45%, 65px, 0px) !important;
    }
    header .top-nav .logo img {
        width: 120px;
    }

    body {
        margin-top: 205px !important;

    }

    header .top-nav .search {
        width: 100%;
    }

    header .top-nav .search input {
        padding: 13px 130px 13px 20px;
    }

    header .top-nav .search button {
        /* width: 120px; */
        width: 80px;
        font-size: 14px;
    }

    header .links ul {
        width: 100%;
        left: -100%;
    }

    header nav .links ul.active .pg_overlay {
        display: none;
    }

    .search_none {
        display: none !important;
    }

    .bg-warning {
        display: block;
    }

    .cart {
        width: 100%;
        right: -150%;
    }

    .banner .contener {
        flex-direction: column;
        gap: 20px;
    }

    .banner .contener .banner_img,
    .banner.banner_beg .contener .banner_img {
        width: 100%;
    }

    .product .name_product {
        font-size: 13px;
    }

    .product {
        padding: 15px 10px;
    }

    .stars i {
        font-size: 13px;
    }

    .slide {
        margin-bottom: 30px;
    }

    .top_slide h2 {
        font-size: 20px;
        width: 70%;
    }

    .categ_img {
        display: none;
    }

    .slide_product .product_swip {
        width: 100%;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        width: 30% !important;
        margin: 0px 35%;
    }

    .newsletter .text h6 {
        font-size: 16px;
    }

    .newsletter .text p {
        font-size: 13px;
    }


    .newsletter .text h4 {
        font-size: 20px;
    }

    .newsletter .newsletter_form button {
        width: 120px;
    }

    footer .contener .big_row {
        width: 100%;
        margin-bottom: 20px;
    }

    .big_row img {
        margin-bottom: 10px;
        width: 60%;
    }

    footer .bottom_footer .contener {
        justify-content: center;
    }

    footer .bottom_footer .payment_img img {
        filter: none;
    }
}


/* end responsev*/


/* start item_detals page*/

.item_detail {
    background: var(--bg-heder);
    padding: 20px 0;
}

.item_detail .contener {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_detail .contener .img_item {
    width: 40%;
}

.item_detail .contener .img_item .big_img {
    display: flex;
    justify-content: center;
}

.item_detail .contener .img_item .big_img img {
    width: 75%;
}

.item_detail .contener .img_item .sm_imgs {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.item_detail .contener .img_item .sm_imgs img {
    width: 24%;
}

.item_detail .details_item {
    width: 55%;
}

.item_detail .details_item h1 {
    margin-bottom: 10px;
}

.item_detail .details_item h5 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
}

.item_detail .details_item h5 span {
    color: var(--main-color);
}

.item_detail .details_item .price {
    justify-content: left;
    margin: 20px 0;
    gap: 10px;
}

.item_detail .details_item .price p {
    font-size: 22px;
}

.item_detail .details_item .text_p {
    line-height: 1.5;
}

.item_detail .details_item h4 {
    font-size: 20px;
    margin-top: 20px;
}

.item_detail .details_item button {
    border: none;
    outline: none;
    background: var(--main-color);
    color: var(--dark-color);
    font-weight: bold;
    padding: 14px 35px;
    border-radius: 5px;
    margin: 30px 0;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.item_detail .details_item button:hover {
    scale: 1.1;
}

.item_detail .details_item .icons {
    display: flex;
    gap: 15px;
    cursor: pointer;

}

.item_detail .details_item .icons span {
    display: flex;
}

.item_detail .details_item .icons i {
    width: 50px;
    height: 50px;
    background: var(--color-icons-detals-item);
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}

.item_detail .details_item .icons i:hover {
    background: var(--main-color);
    scale: 1.2;
}

.btn_icon-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one {
    flex-direction: row-reverse;
    width: 40%;
}

.one .stars {
    margin-bottom: 20px;
}

.tow {
    width: 70%;
}

/* end item_detals page*/


/*start Responsv item_detals page*/
@media (max-width:1000px) {


    .item_detail .contener {
        flex-direction: column;
    }

    .item_detail .contener .img_item {
        width: 90%;
        margin-bottom: 40px;
    }

    .item_detail .details_item {
        width: 100%;
    }

    .item_detail {
        margin-bottom: 30px;
    }
}

@media (max-width:700px) {
    .item_detail .contener .img_item {
        width: 80%;
    }


}

@media (max-width:500px) {
    .item_detail .details_item h1 {
        font-size: 28px;
    }

    .item_detail .details_item .text_p {
        font-size: 14px;
    }

    .item_detail .details_item h4 {
        font-size: 18px;
    }

    .tow {
        flex-direction: column;
    }

    .one,
    .tow {
        width: 100%;
    }
}


/*end Responsv item_detals page*/


/* staert page all product */
.top_page {
    text-align: center;
    margin-bottom: 50px;
}

.top_page h1 {
    font-size: 40px;
    color: var(--main-color);
    margin-bottom: 20px;
    text-align: center;
}

.top_page p {
    font-size: 18px;
    width: 70%;
    text-align: center;
    margin: auto;
    color: var(--parg-color);
}

.all_product .contener {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.all_product .products_div {
    width: calc(100% - 300px);
    display: flex;
    flex-wrap: wrap;
    gap: 2.5%;
}

.all_product .products_div .product {
    width: 22%;
    margin-bottom: 30px;
}

.all_product .filter {
    background-color: var(--bg-heder);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shado-prodact);
    width: 280px;
    padding: 20px 25px;
}

.all_product .filter h4 {
    margin-bottom: 10px;
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.all_product .filter span {
    font-size: 14px;
    cursor: pointer;

}

.all_product .filter input {
    scale: 1.4;
}

.all_product .filter input:checked {
    accent-color: var(--main-color);
}


.all_product .filter .filter_item .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.all_product .filter .filter_item .item .color {
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.pagination {
    background: var(--bg-heder);
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    box-shadow: var(--box-shado-prodact);
    border-radius: 50px;
    margin: auto;
    margin-bottom: 30px;
}

.pagination a {
    color: var(--dark-color);
}

.pagination .btn_page {
    font-size: 22px;
    padding: 0 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.pagination .btn_page:hover {
    color: var(--main-color);
}

.pagination .num_page {
    background-color: #dbdbdb;
    width: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    font-size: 18px;
    transition: 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination .num_page.active,
.pagination .num_page:hover {
    background-color: var(--main-color);

}

.all_product .contener .btn_filter {
    display: none;
    transition: 0.3s ease-in-out;
}


@media (max-width:1500px) {
    .all_product .products_div .product {
        width: 31%;
    }
}

@media (max-width:1000px) {
    .all_product .contener {
        padding-top: 60px;

    }

    .all_product .filter.active {

        z-index: 100;
        opacity: 1;
    }

    .all_product .filter {
        position: absolute;
        left: 0;
        top: 60px;
        width: 40%;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }

    .all_product .products_div {
        width: 100%;
    }

    .all_product .btn_filter {
        display: block !important;
        position: absolute;
        top: 0px;
        padding: 12px 30px;
        background: var(--main-color);
        border-radius: 5px;
        font-size: 18px;
        text-transform: uppercase;
    }
}

@media (max-width:650px) {
    .all_product .products_div .product {
        width: 48%;
    }

    .all_product .filter.active {
        width: 100%;
    }

    .top_page h1 {
        font-size: 25px;
        width: 100%;
    }

    .top_page p {
        font-size: 16px;
        width: 99%;
    }
}

/* end page all product */
/* start Checkout page*/

.Checkout {
    margin: 50px 0;
}

.Checkout .contener {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Checkout form {
    width: 45%;
}

.Checkout form h2 {
    padding: 10px 20px;
    background: var(--main-color);
    text-transform: capitalize;
    font-size: larger;
}

.Checkout form .address,
.Checkout form .coupon {
    background: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.Checkout form .inputs {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

.Checkout form .inputs label {
    color: var(--dark-color);
    font-size: 14px;
    text-transform: capitalize;
}

.Checkout form .inputs input {
    margin: 5px 0 20px;
    padding: 8px;
    outline: none;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.Checkout form .inputs input:focus {
    border-color: var(--main-color);
}

.Checkout .ordersummary {
    width: 45%;
    background: var(--bg-heder);
    padding: 15px;
    border-radius: 5px;
}

.Checkout .ordersummary h1 {
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: x-large;
}

.Checkout .ordersummary .items .item_cart {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.Checkout .ordersummary .items .item_cart img {
    width: 150px;
}

.Checkout .ordersummary .items .item_cart h4 {
    color: var(--parg-color);
    margin-bottom: 10px;
    font-size: 18px;
}

.Checkout .ordersummary .items .item_cart p {
    color: var(--dark-color);
    font-size: 18px;
}

.Checkout .ordersummary .items .item_cart p span {
    color: var(--green-color);
    font-weight: 600;
}

.Checkout .ordersummary .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

}

.Checkout .ordersummary .total p,
.Checkout .ordersummary .total span {
    font-size: 21px;
    font-weight: bold;
    color: var(--dark-color);
    text-transform: capitalize;
}

.Checkout .ordersummary .button_div {
    border-top: 2px solid var(--border-color);
    padding: 30px 0;

}

.Checkout .ordersummary .button_div button {
    width: 100%;
    background: var(--main-color);
    color: var(--dark-color);
    border: 2px solid var(--main-color);
    padding: 10px 0;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

.Checkout .ordersummary .button_div button:hover {
    background: transparent;
}


/* stare responsev Checkout page*/


@media (max-width:1000px) {
    .Checkout .contener {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .Checkout .ordersummary {
        width: 100%;
    }

    .Checkout form {
        width: 100%;
    }

    .Checkout .ordersummary .items .item_cart img {
        width: 100px;
    }

    .Checkout .ordersummary .items .item_cart h4 {
        font-size: 15px;
    }

}



/* end responsev Checkout page*/

/* end Checkout page*/
